@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


.navbar .breadcrumb{
	background: none;
	float: left;
	margin-bottom: 0;
	margin-top: 10px;
}

.navbar-right{
	margin-right: 0px;
}

.navbar button{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.navbar2 .breadcrumb{
	margin-top: 5px;
}

.glyphicon{
	font-size: 16px;
}

.bs-glyphicons-list {
    list-style: outside none none;
    padding-left: 0;
}

.bs-glyphicons li {
    font-size: 12px;
    width: 12.5%;
}
.bs-glyphicons li {
    background-color: #f9f9f9;
    border: 1px solid #fff;
    float: left;
    font-size: 10px;
    height: 115px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 25%;
}


.bs-glyphicons .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 16px;
}


.navbar-right .username{
    display: block;
    padding-bottom: 14px;
    padding-top: 14px;
}

.error{
    color: #a94442;
}

label.error{
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-control.error{
    border-color: #a94442;
}

